<!-- indexer::stop -->
<div class="{{ data.class }} block"{{ data.cssID }}>

{% if data.headline %}
<{{ data.hl }}>{{ data.headline }}</{{ data.hl }}>
{% endif %}

{% if data.licenses %}
    <div class="ce_table table-responsive">
        <table class="table sortable" id="tableLicenses" data-sort-default="0|desc">
            <thead>
            <tr>
                <th class="head_0">Titel</th>
                <th class="head_1">Benutzername/E-Mail</th>
                <th class="head_2">Passwort</th>
                <th class="head_3">Abteilung</th>
                <th class="head_4">Fach</th>
                <th class="head_5">Ablaufdatum</th>
            </tr>
            </thead>

            <tbody>
            {% for license in data.licenses %}
                <tr class="row_{{ loop.index }}">
                    <td class="col_0">{{ license.title }}</td>
                    <td class="col_1">{{ license.userid }}</td>
                    <td class="col_2">{{ license.passphrase }}</td>
                    <td class="col_3">{{ license.department }}</td>
                    <td class="col_4">{{ license.topic }}</td>
                    <td class="col_5">{{ license.expirationdate }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

</div>
<!-- indexer::continue -->
